# Taller No 1

Taller de ejemplo en ipython

In [1]:
import requests
import lxml.html as html
import pandas as pd

In [2]:
url_padre = 'https://books.toscrape.com/index.html'
root_url = 'https://books.toscrape.com/'

In [3]:
#obtener links de categorias de libros
links_categorias='//ul[@class="nav nav-list"]/li//ul/li/a/@href'
#obtener el titulo de cada libro
titulo='//article[@class="product_pod"]//h3/a/text()'
#obtener el precio de cada libro
precios='//div[@class="product_price"]/p[@class="price_color"]/text()'

In [4]:
#requests
r=requests.get(url_padre)

home=r.content.decode('utf-8')

parser=html.fromstring(home)

categorias_url=parser.xpath(links_categorias)
categorias_url=[root_url+x for x in categorias_url]

In [5]:
r=requests.get(categorias_url[3])

home=r.content.decode('utf-8')

parser=html.fromstring(home)

titulos_book=parser.xpath(titulo)
prc = parser.xpath(precios)
print(titulos_book, prc)

["Scott Pilgrim's Precious Little ...", 'Tsubasa: WoRLD CHRoNiCLE 2 ...', 'This One Summer', 'The Nameless City (The ...', 'Saga, Volume 5 (Saga ...', 'Rat Queens, Vol. 3: ...', 'Princess Jellyfish 2-in-1 Omnibus, ...', 'Pop Gun War, Volume ...', 'Patience', 'Outcast, Vol. 1: A ...', 'orange: The Complete Collection ...', 'Lumberjanes, Vol. 2: Friendship ...', 'Lumberjanes, Vol. 1: Beware ...', 'Lumberjanes Vol. 3: A ...', 'I Hate Fairyland, Vol. ...', 'I am a Hero ...', 'Giant Days, Vol. 2 ...', 'Danganronpa Volume 1', 'Codename Baboushka, Volume 1: ...', 'Camp Midnight'] ['£52.29', '£16.28', '£19.49', '£38.16', '£51.04', '£50.40', '£13.61', '£18.97', '£10.16', '£15.44', '£48.41', '£46.91', '£45.61', '£19.92', '£29.17', '£54.63', '£22.11', '£51.99', '£36.72', '£17.08']

In [6]:
def get_urls(url_padre):
    root_url= 'https://books.toscrape.com/'
    #obtener links de categorias de libros
    links_categorias='//ul[@class="nav nav-list"]/li//ul/li/a/@href'
    r=requests.get(url_padre)
    home=r.content.decode('utf-8')
    
    parser=html.fromstring(home)
    
    categorias_url=parser.xpath(links_categorias)
    categorias_url=[root_url+x for x in categorias_url]
    return categorias_url

In [7]:
def parser_content(url):
    contenido_dic={}
    
    r=requests.get(url)
    
    home=r.content.decode('utf-8')   
    parser=html.fromstring(home)
    if r.status_code==200:
        #obtener titulos de libro
        titulo='//article[@class="product_pod"]//h3/a/text()'
        titulos_book=parser.xpath(titulo)
        contenido_dic['Book title']=titulos_book
        #obtener precios
        precios='//div[@class="product_price"]/p[@class="price_color"]/text()'
        prc = parser.xpath(precios)
        contenido_dic['Book price']=prc
    return contenido_dic

In [8]:
links_entregar=get_urls(url_padre)

In [9]:
len(links_entregar)

50

In [10]:
data=[]
for indx, i in enumerate(links_entregar):
    print(f'Se está scrapeando la pag número {indx}')
    data.append(parser_content(i))

Se está scrapeando la pag número 0
Se está scrapeando la pag número 1
Se está scrapeando la pag número 2
Se está scrapeando la pag número 3
Se está scrapeando la pag número 4
Se está scrapeando la pag número 5
Se está scrapeando la pag número 6
Se está scrapeando la pag número 7
Se está scrapeando la pag número 8
Se está scrapeando la pag número 9
Se está scrapeando la pag número 10
Se está scrapeando la pag número 11
Se está scrapeando la pag número 12
Se está scrapeando la pag número 13
Se está scrapeando la pag número 14
Se está scrapeando la pag número 15
Se está scrapeando la pag número 16
Se está scrapeando la pag número 17
Se está scrapeando la pag número 18
Se está scrapeando la pag número 19
Se está scrapeando la pag número 20
Se está scrapeando la pag número 21
Se está scrapeando la pag número 22
Se está scrapeando la pag número 23
Se está scrapeando la pag número 24
Se está scrapeando la pag número 25
Se está scrapeando la pag número 26
Se está scrapeando la pag número 27
Se está scrapeando la pag número 28
Se está scrapeando la pag número 29
Se está scrapeando la pag número 30
Se está scrapeando la pag número 31
Se está scrapeando la pag número 32
Se está scrapeando la pag número 33
Se está scrapeando la pag número 34
Se está scrapeando la pag número 35
Se está scrapeando la pag número 36
Se está scrapeando la pag número 37
Se está scrapeando la pag número 38
Se está scrapeando la pag número 39
Se está scrapeando la pag número 40
Se está scrapeando la pag número 41
Se está scrapeando la pag número 42
Se está scrapeando la pag número 43
Se está scrapeando la pag número 44
Se está scrapeando la pag número 45
Se está scrapeando la pag número 46
Se está scrapeando la pag número 47
Se está scrapeando la pag número 48
Se está scrapeando la pag número 49

In [14]:
df=pd.DataFrame()
for j in data:
    df_uno = pd.DataFrame(j)
    df=pd.concat([df,df_uno])

In [15]:
df.head()

                           Book title Book price
0             It's Only the Himalayas     £45.17
1           Full Moon over Noah’s ...     £49.43
2      See America: A Celebration ...     £48.87
3  Vagabonding: An Uncommon Guide ...     £36.94
4                Under the Tuscan Sun     £37.33

In [16]:
df

                            Book title Book price
0              It's Only the Himalayas     £45.17
1            Full Moon over Noah’s ...     £49.43
2       See America: A Celebration ...     £48.87
3   Vagabonding: An Uncommon Guide ...     £36.94
4                 Under the Tuscan Sun     £37.33
..                                 ...        ...
1               Why the Right Went ...     £52.65
2       Equal Is Unfair: America's ...     £56.86
0                       Amid the Chaos     £36.58
0                           Dark Notes     £19.19
0               The Long Shadow of ...     £10.97

[517 rows x 2 columns]